{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	{% for article in articles %}
		<div id="articlelist">
			<p><a href="/article/{{ article.id }}/">{{article.title}}</a></p>
			<a id="a">{{article.kind}}</a>
			•<a>{{article.time}}</a>
			•<a>{{article.user}}</a>
			•<a>共{{article.comment_set.all|length}}个评论</a>
		</div>
	{% endfor %}
	<div id="pages">
	<a href="/index/{{kind}}/1"><</a>
	{% for page in pages %}
			<a href="/index/{{kind}}/{{page}}">{{ page }}</a>
	{% endfor %}
	<a href="/index/{{kind}}/{{pages|length}}">></a>
	</div>
{% endblock %}